{{> header }}

<body>

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Ricardo Milos</h1>
        </div>
        <div>
            <img src="assets/img/Ricardo_Milos.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}